In [5]:
#https://qiita.com/tkazusa/items/23bc0142bf277d397260
import pandas as pd
import numpy as np
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index = dates, columns = list("ABCD"))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.321040 -0.280720  0.697601  1.012261
2013-01-02 -0.180073 -0.401947 -0.597038 -0.014579
2013-01-03 -0.032349  0.935327 -0.900727  1.681864
2013-01-04  0.070614  0.480674  1.123915  0.082651
2013-01-05 -0.057943  1.506852 -0.245859 -2.061754
2013-01-06 -0.690125 -0.577758 -0.067836  2.303818

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
...                  'B' : pd.Timestamp('20130102'),
...                  'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
...                  'D' : np.array([3] * 4,dtype='int32'),
...                  'E' : pd.Categorical(["test","train","test","train"]),
...                  'F' : 'foo' })

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [13]:
df.C

2013-01-01    0.697601
2013-01-02   -0.597038
2013-01-03   -0.900727
2013-01-04    1.123915
2013-01-05   -0.245859
2013-01-06   -0.067836
Freq: D, Name: C, dtype: float64

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[-0.32103967, -0.28071997,  0.69760084,  1.01226141],
       [-0.18007282, -0.4019473 , -0.59703794, -0.01457873],
       [-0.0323491 ,  0.93532697, -0.90072703,  1.68186448],
       [ 0.07061386,  0.48067434,  1.12391464,  0.08265118],
       [-0.05794295,  1.50685189, -0.24585911, -2.06175424],
       [-0.69012475, -0.57775802, -0.06783575,  2.30381849]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.201819  0.277071  0.001676  0.500710
std    0.274506  0.835469  0.772350  1.543666
min   -0.690125 -0.577758 -0.900727 -2.061754
25%   -0.285798 -0.371640 -0.509243  0.009729
50%   -0.119008  0.099977 -0.156847  0.547456
75%   -0.038748  0.821664  0.506242  1.514464
max    0.070614  1.506852  1.123915  2.303818

In [17]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.321040   -0.180073   -0.032349    0.070614   -0.057943   -0.690125
B   -0.280720   -0.401947    0.935327    0.480674    1.506852   -0.577758
C    0.697601   -0.597038   -0.900727    1.123915   -0.245859   -0.067836
D    1.012261   -0.014579    1.681864    0.082651   -2.061754    2.303818

In [19]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2013-01-01 -0.321040 -0.280720  0.697601  1.012261
2013-01-02 -0.180073 -0.401947 -0.597038 -0.014579
2013-01-03 -0.032349  0.935327 -0.900727  1.681864
2013-01-04  0.070614  0.480674  1.123915  0.082651
2013-01-05 -0.057943  1.506852 -0.245859 -2.061754
2013-01-06 -0.690125 -0.577758 -0.067836  2.303818

In [20]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01  1.012261  0.697601 -0.280720 -0.321040
2013-01-02 -0.014579 -0.597038 -0.401947 -0.180073
2013-01-03  1.681864 -0.900727  0.935327 -0.032349
2013-01-04  0.082651  1.123915  0.480674  0.070614
2013-01-05 -2.061754 -0.245859  1.506852 -0.057943
2013-01-06  2.303818 -0.067836 -0.577758 -0.690125

In [22]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2013-01-01 -0.321040 -0.280720  0.697601  1.012261
2013-01-02 -0.180073 -0.401947 -0.597038 -0.014579
2013-01-03 -0.032349  0.935327 -0.900727  1.681864
2013-01-04  0.070614  0.480674  1.123915  0.082651
2013-01-05 -0.057943  1.506852 -0.245859 -2.061754
2013-01-06 -0.690125 -0.577758 -0.067836  2.303818